.login-container {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9E8FB2;
}

/* Card styling */
.card {
  width: 90%;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* Card content: Registration Form and Display Picture in a flex row */
.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left side: Registration Form styling */
.card-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-left h1 {
  font-weight: 800;
  margin-bottom: 16px;
  color: #333;
}

.card-left h3 {
  font-size: 25px;
  margin-bottom: 32px;
  color: #666;
}

.register-form .form-group {
  margin-bottom: 24px;
}

.register-form .form-control {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
}


/* Right side: Display Picture styling */
.card-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-picture {
  max-width: 100%;
  height: auto;
  border-radius: 25px 0 0 25px;
}

/* Responsive design */
@media (max-width: 768px) {
  .card-content {
    flex-direction: column;
  }

  .card-right {
    display: none; /* Hide display picture on mobile */
  }

  .card-left {
    padding: 32px;
  }

  .card-left h3 {
    font-size: 24px;
  }

  .register-form .form-control {
    padding: 10px;
    font-size: 16px;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 16px;
  }
}
