<div class="login-container">
  <div class="card">
    <!-- Form and Display Picture in the same flex row -->
    <div class="card-content">
      <!-- Left side: Form -->
      <div class="card-left">
        <h1>Welcome to the Blog</h1>
        <h3>Please enter login details below</h3>
        <form (ngSubmit)="onLogin()" class="login-form">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
          </div>

          <button type="submit" class=" custom-button primary">Login</button>
          
        </form>
        
      </div>

      <!-- Right side: Display Picture -->
      <div class="card-right">
        <img src="../../../assets/login-display.jpg" alt="Display Picture" class="display-picture">
      </div>
    </div>
  </div>
</div>
